.monster{
    position: relative;
    width: 470px;
    height: 450px;
    overflow: hidden; 
}
.monster__container{
    position: relative;
    display: flex;
    justify-content: center;

}

.monster__photo{
    width: 450px;
    height: 600px;
    display: flex;
    align-items: center; 
}

.monster__photo__polaroid{
    background: linear-gradient(0deg, rgba(203, 208, 209, 1) 29%, rgba(211, 213, 214, 1) 34%, rgba(213, 214, 215, 1) 49%, rgba(249, 240, 240, 1) 100%, rgba(255, 255, 255, 1) 100%);  color: #767676;
    padding: 1rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
      margin-right: 50px;
      > img{
        max-width: 100%;
        height: auto;
        border: 1px solid #000;
      }
}

.monster__photo__caption{
    font-family: 'Graduate', serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2em;
}